<style type="text/css">
    #geofilter{
        margin: 5px 0;
    }
    #geofilter .geoexit{
        text-align: right;
    }
    #geofilter p{
        margin: 0;
    }
</style>

<?php
    $geoipEnable = Mage::getStoreConfig('bds_geoipredirect/bds_geoipredirect_group/bds_geoipredirect_enable');
    $geoipCountriesArray = Mage::getStoreConfig('bds_geoipredirect/bds_geoipredirect_group/bds_geoipredirect_country');
    $staticblock_content = $this->getLayout()->createBlock('cms/block')->setBlockId('geofilter')->toHtml();
    $geoIPCountry = Mage::getSingleton('geoip/country');
?>

<?php
    if($geoipEnable){
        if($geoipCountriesArray!=''){
            $geoipCountries = explode(",",$geoipCountriesArray);
            if(!empty($geoIPCountry)){
                $countryCode = $geoIPCountry->getCountry();
                if(in_array($countryCode,$geoipCountries)){
                    if($staticblock_content!=''){
?>
    <script type="text/javascript">
        jQuery('body').prepend('<div id="geofilter"><div class="container"><div class="geoexit"><span class="fa fa-times"></span></div><div class="geocontent"></div></div></div>');
        jQuery('#geofilter .geocontent').html('<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('geofilter')->toHtml(); ?>');
        
        jQuery('#geofilter .geoexit').on('click', function () {
            jQuery('#geofilter').hide("slow");
        });
    </script>
<?php } } } } } ?>